{:framework.db.storage/postgresql {:port 54320
                                   :dbname "example"
                                   :host "localhost"
                                   :dbtype "postgresql"
                                   :user "test"
                                   :password "test"}

 :framework.db.storage/migration {:store :database
                                  :parent-migration-dir "src/db"
                                  :migration-dir        "migrations"
                                  :init-in-transaction? false
                                  :migration-table-name "migrations"}
 }
